*{
     margin: 0;
     padding: 0;
}
#main {
     color: deepskyblue;
     background-color: black;
}
#div{
     background-color: aqua;
     height: 100px;
     width: 100px;
     color: yellow;
     border: 3in;
     border-color: aquamarine;
}