 .p{
    background-color: aqua;
 }
.para{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: blue;
    display: inline-block;
    width: fit-content;
}


.box{
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    border: 3px solid green;
    background-size:cover;
    background-repeat: no-repeat;
    color: aqua;
    text-transform: uppercase;

}